<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="marsemellow.warungburjo" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pilih_makanan"
            android:label="warungburjo" >
            <intent-filter>
                <action android:name="com.marsemellow.warungburjo.pilih_makanan" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pesan_makanan"
            android:label="warungburjo" >
            <intent-filter>
                <action android:name="com.marsemellow.warungburjo.pesan_makanan" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".lihat_keranjang"
            android:label="warungburjo" >
            <intent-filter>
                <action android:name="com.marsemellow.warungburjo.lihat_keranjang" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
        android:name=".checkout"
        android:label="warungburjo" >
        <intent-filter>
            <action android:name="com.marsemellow.warungburjo.checkout" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

    </application>

</manifest>
